@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes shine { 0% { transform: translateX(-100%); } 100% { transform: translateX(100%); } }
.animate-shine { animation: shine 1.5s ease-in-out infinite; }
.animate-pulse-once { animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }

.clip-path-polygon-[0_0,100%_0,95%_100%,5%_100%] { clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%) }
.shadow-inset-gray { box-shadow: inset 0 2px 4px 0 rgb(255 255 255 / 0.05) }
.shadow-inset-gray-hover { box-shadow: inset 0 4px 8px 0 rgb(255 255 255 / 0.07) } */